<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <a class="text-center" 
                    style="display: inline-block; padding-bottom: 12px;" 
                    href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" 
                    target="_blank">
                    gang gang
                </a>
               <p style="font-size: 8px;">CS and Software Dev homies... have mercy on me.</p>
            </div>
        </div>
    </div>
</footer>