<!-- Where To Stay Section -->
<section id="stay" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Where To Stay</h2>
                <h3 class="section-subheading text-muted">We’ve gathered a list of accommodations near the venue to make your stay comfortable and convenient.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <ul style="list-style-type:none;">
                    <li>
                        <strong>The Lodge at Flying Horse</strong>
                        <ul class="fa-ul">
                            <li>
                                <span class="fa-li"><i class="fa fa-home"></i></span><span class="text-muted plist">Luxury accommodations on the venue property.</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-map-marker"></i></span><span class="text-muted plist">Flying Horse Resort</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-phone"></i></span><span class="text-muted plist">(719) 494-1222</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fas fa-external-link-alt"></i></span><span class="plist"><a href="https://flyinghorseresort.com">https://flyinghorseresort.com</a></span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-car"></i></span><span class="text-muted plist">On property</span>
                            </li>
                            <li><br></li>
                        </ul>
                    </li>

                    <li>
                        <strong>Hotel Polaris</strong>
                        <ul class="fa-ul">
                            <li>
                                <span class="fa-li"><i class="fa fa-home"></i></span><span class="text-muted plist">Non-military hotel just off the Air Force Academy.</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-map-marker"></i></span><span class="text-muted plist">Hotel Polaris, Colorado Springs</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-phone"></i></span><span class="text-muted plist">(719) 886-1100</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fas fa-external-link-alt"></i></span><span class="plist"><a href="https://www.thehotelpolaris.com">https://www.thehotelpolaris.com</a></span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-car"></i></span><span class="text-muted plist">4.6 miles from venue</span>
                            </li>
                            <li><br></li>
                        </ul>
                    </li>

                    <li>
                        <strong>Holiday Inn Express</strong>
                        <ul class="fa-ul">
                            <li>
                                <span class="fa-li"><i class="fa fa-home"></i></span><span class="text-muted plist">Comfortable and affordable accommodations.</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-map-marker"></i></span><span class="text-muted plist">Holiday Inn Express, Colorado Springs</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-phone"></i></span><span class="text-muted plist">(719) 284-0000</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fas fa-external-link-alt"></i></span><span class="plist"><a href="https://www.ihg.com/holidayinnexpress/hotels/us/en/colorado-springs/cosfd/hoteldetail">https://www.ihg.com</a></span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-car"></i></span><span class="text-muted plist">4.4 miles from venue</span>
                            </li>
                            <li><br></li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="col-md-6">
                <ul style="list-style-type:none;">
                    <li>
                        <strong>Marriott – Courtyard</strong>
                        <ul class="fa-ul">
                            <li>
                                <span class="fa-li"><i class="fa fa-home"></i></span><span class="text-muted plist">Modern accommodations near the venue.</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-map-marker"></i></span><span class="text-muted plist">Marriott Courtyard, Colorado Springs</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-phone"></i></span><span class="text-muted plist">(719) 635-8131</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fas fa-external-link-alt"></i></span><span class="plist"><a href="https://www.marriott.com/en-us/hotels/cosno-courtyard-colorado-springs-north-air-force-academy/overview/">https://www.marriott.com</a></span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-car"></i></span><span class="text-muted plist">3.3 miles from venue</span>
                            </li>
                            <li><br></li>
                        </ul>
                    </li>

                    <li>
                        <strong>My Place Hotel</strong>
                        <ul class="fa-ul">
                            <li>
                                <span class="fa-li"><i class="fa fa-home"></i></span><span class="text-muted plist">Budget-friendly accommodations.</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-map-marker"></i></span><span class="text-muted plist">My Place Hotel, Colorado Springs</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-phone"></i></span><span class="text-muted plist">(719) 203-5830</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fas fa-external-link-alt"></i></span><span class="plist"><a href="https://www.myplacehotels.com/locations/my-place-hotel-colorado-springs-co">https://www.myplacehotels.com</a></span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-car"></i></span><span class="text-muted plist">4.1 miles from venue</span>
                            </li>
                            <li><br></li>
                        </ul>
                    </li>

                    <li>
                        <strong>Airbnb</strong>
                        <ul class="fa-ul">
                            <li>
                                <span class="fa-li"><i class="fa fa-home"></i></span><span class="text-muted plist">Private homes available in the Flying Horse community.</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-map-marker"></i></span><span class="text-muted plist">Flying Horse Community</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-phone"></i></span><span class="text-muted plist">N/A</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fas fa-external-link-alt"></i></span><span class="plist"><a href="https://www.airbnb.com/s/Flying-Horse-Colorado--Flying-Horse-Club-Drive--Colorado-Springs--CO--USA/homes">https://www.airbnb.com</a></span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-car"></i></span><span class="text-muted plist">Nearby</span>
                            </li>
                            <li><br></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
