<!-- Travel Section -->
<section id="travel">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Travel</h2>
            </div>
        </div>
        <div class="row justify-content-center text-center">
            <!-- Column for Denver Airport -->
            <div class="col-lg-3 col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-plane-arrival fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Denver International Airport</h4>
                <p class="text-muted">
                    Located about 90 minutes from Colorado Springs, Denver International Airport (DEN) offers numerous flight options.
                </p>
            </div>
            <!-- Column for Colorado Springs -->
            <div class="col-lg-3 col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-plane-departure fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Colorado Springs</h4>
                <p class="text-muted">
                    Colorado Springs (COS) offers a smaller, more convenient airport for those flying directly to the wedding destination.
                </p>
            </div>
        </div>
    </div>
</section>
